li.Items {
  padding: 0 20px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

li.Items a {
  font-family: "Mulish";
  font-weight: 800;
  font-size: 20px;
  width: 130px;
  color: #cbb26a;
  text-decoration: none;
  text-align: center;
}

li.Items a.active,li.Items a:hover {
  color: white !important;
  border-bottom: 1px solid #cbb26a;
}

@media (max-width: 801px) {
  li.Items {
    padding: 10px;
    width: 100%;
  }

  li.Items a {
    font-size: xx-large;
    text-align: center;
    width: 100%;
  }
}
