.Footer {
  color: white;
  text-align: center;
  padding: 15px 0;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.Footer p {
  color: white;
  font-size: medium;
  word-spacing: 5px;
}

@media (max-width: 1400px) {
  .Footer {
    padding: 20px;
  }
}
